body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Transparent background initially */
    transition: background-color 0.5s ease;
    z-index: 10;
    padding: 0.2rem 0.5rem;
}
.navbar .logo {
    font-size: 8rem; /* Larger initial size */
    transition: font-size 0.5s ease; /* Smoother transition */
    font-weight: bold;
    color: #fff7f7de;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.navbar.scrolled .logo {
    font-size: 2rem; /* Smaller font size after scrolling */
    color: #000;
}
.navbar.scrolled {
    background-color: #FAFAFA; /* Background transition */
}
.nav-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    transition: opacity 0.5s ease;
}
.nav-right i {
    color: #302d2de3;
    font-size: 1rem;
    margin-left: 1rem; /* Space between icons */
}
.hero {
    height: 100vh;
    background-image: url('header.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.content {
    padding-top: 100vh;
}
.hero-content {
    text-align: center;
}
.hero-title {
    color: #FFFFFF; /* Adjust the color to fit your design */
    font-size: 4rem; /* Large text size for the title */
    margin-bottom: 20px; /* Space between the title and the button */
}
.hero-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #FFFFFF; /* White button background */
    color: #000000; /* Button text color */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase; /* Uppercase button text */
    font-weight: bold;
}
.hero-button:hover {
    background-color: #f3f4f6; /* Light grey background on hover */
}
.content {
    position: relative;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.content h1 {
    font-size: 60px;
    font-weight: 600;
}

.content h1 span {
    color: red;
}
.content a {
    display: inline-block;
    margin-top: 10px; /* Adjust the margin as needed */
}

.content a img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 4px;
}
.sales {
    position: relative;
  }
  
  .sales img {
    width: 100%; /* Make sure the image takes the full width of the container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Remove extra space below the image */
  }
  .sales button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3b3c3d; /* Blue background color */
    color: #ffffff; /* White text color */
    padding: 14px 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}
  }
  
  .sales button:hover {
    background: #2c3e50; /* Darker background color on hover */
    color: #ffffff; /* White text color on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Slightly larger box shadow on hover */
  }
  
.table-container h2{
    font-size: 20px;
    font-weight: 600;
}
.search {
    width: 100%;
    text-align:center;
}
#search-bar {
  padding: 10px;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #ced4da; /* Light border color */
  border-radius: 20px; /* Rounded corners */
  font-size: 14px;
  margin: 0 auto; /* Center the search bar horizontally */
  margin-bottom: 20px;
  text-align: center;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-size: 14px;
  }

  h2{
    font-family: 'Jost', sans-serif;
    color: rgb(79, 79, 79);
    padding: 5px;
    text-align: center;
  }

  th, td {
    border: 1px solid #f3efef;
    padding: 12px;
    text-align: left;
  }

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-80%); /* Adjust the multiplication factor based on your number of items */ }
}
 /* Media Queries for smaller screens */
 @media screen and (max-width: 600px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
    .navbar .logo {
        font-size: 3.5rem;
    }
    .nav-right a:not(:last-child) {
        display: none;
    }

    .nav-right a:last-child {
        display: inline-block;
    }
    /* .sales img {
        max-width: 100%;
        height: auto;
      } */
    .sales img {
        width: 100%; /* Make sure the image takes the full width of the container */
        height: auto; /* Maintain the aspect ratio of the image */
        display: block; /* Remove extra space below the image */
  
    }
    .sales button {
        padding: 10px 12px;
        font-size: 8px;
      }
    /* .hero-title {
        font-size: 3rem;
    }
    .hero-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .featured-products {
        margin-right: 0;
    }
    .product {
        width: 100%;
        margin-right: 0;
    } */
    .table th, .table td {
        padding: 5px;
        font-size: 12px;
      }
  
      .table tbody tr td[data-label="Brand"]::before,
      .table tbody tr td[data-label="Name"]::before {
        content: " ";
        font-weight: bold;
      }
}